@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
body {
	background: #50a3a2;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
